@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
    font-family: Roboto;
}

header {
    width: 100%;
    height: 820px;
    background: url('../img/main_bg.png') no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
}

.header__logo {
    display: block;
    margin: 0 auto;
    padding: 39px 0 10px 0;
}

.header__logo__title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px; 
    text-transform: uppercase;
}

.header__title {
    padding: 53px 0 0 0;
    color: #F9BF3B;
    text-align: center;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
}

.header__box {
    display: flex;
    justify-content: space-between;
}

.header__box__name {
    padding: 20px 0 0 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
}

.yellow {
    color: #F9BF3B;
}

.header__subtitle {
    padding: 20px 0 0 0;
    color: #F9BF3B;
    text-align: center;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    text-transform: uppercase;
}

.header__info {
    padding: 22.5px 0 0 0;
    color: #FFF;
    text-align: left;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
}

.header__button {  
    display: block;
    padding: 23.5px 15px 23.5px 15px;
    margin: 72px auto 0 auto;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    color: #FFF;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.header__moreinfo {
    padding: 70.5px 0 0 0;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
}

.header__down__button {
    padding: 10px 0 0 0;
    border: medium none;
	background-color: transparent; /* делает фон кнопки прозрачным */
    display: block;
    margin: 0 auto;
}

/* CONTENT */

.content {
    background-color: #EFEFEF;
}

.content__title {
    padding: 85px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    font-size: 30px;
    font-weight: 400;
}

.content__line {
    display: block;
    margin: 0 auto;
    padding: 18px 0 0 0;
}

.content__info {
    padding: 20px 0 0 0;
    color: #4A4A4A;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
}

.content__blocks {
    padding: 45px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.content__block__info {
    padding: 26px 0 0 0;
    width: 360px;
    color: #4A4A4A;
    text-align: center;
    font-size: 18px;
    font-weight: 300;

}

/* CONTENT */



/* INFO */

.info {
    margin: 50px 0 0 0;
    position: relative;
    display: flex;
}

.info__img {
    width: 868px;
    height: 502px;
    position: absolute;
    right: 500px;
}

.info__title {
    margin: 61px 0 0 0;
    padding: 0 0 25px 0;
    color: #299CBD;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.info__text {
    position: absolute;
    right: 0;
    color: #4A4A4A;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px; /* 158.824% */
}

/* INFO */